<!doctype html>
<html lang="{{ metadata.language }}" class="light">
{% include "partials/seo.njk" %}
</head>
<main role="main">
<body class="bg-light">
<a href="#start" class="visual">Skip to main content</a>
<div class="layout-module--layout--e08e0" id="start">
{{ content | safe }}
</div>
{% include "partials/script.njk" %}
</body>
</main>
</html>
