          <div class="sidebar-module--sidebar--58428">
            <div class="sidebar-module--inner--f87a4">
              <div class="sidebar-author-module--sidebar-author--f2c33">
                <a aria-current="page" class="" href="/" title="{{metadata.sidebar.title or metadata.title}}">
                  <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained sidebar-author-module--photo--d388f">
                    <div style="max-width:512px;display:block">
                      <img alt="{{metadata.sidebar.title or metadata.title}}" role="presentation" aria-hidden="true" src="{{metadata.sidebar.image or metadata.image}}" style="max-width:100%;display:block;position:static">
                    </div>
                   
                  </div>
                </a>
                <div class="sidebar-author-module--titleContainer--335a3">
                  <h1 class="sidebar-author-module--title--a6921">
                    <a aria-current="page" class="sidebar-author-module--link--45332" href="{{metadata.url}}">{{metadata.sidebar.title or metadata.title}}</a>
                  </h1>
<div class="theme-switcher-module--themeSwitcher--8bcb4">
  <button class="theme-switcher-module--button--1cdf0">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <title>light</title>
      <path class="theme-switcher-module--moon--f9082" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
      <circle class="theme-switcher-module--sun--65dc4" cx="12" cy="12" r="5"></circle>
      <line class="theme-switcher-module--sun--65dc4" x1="12" y1="1" x2="12" y2="3"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="12" y1="21" x2="12" y2="23"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="1" y1="12" x2="3" y2="12"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="21" y1="12" x2="23" y2="12"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
      <line class="theme-switcher-module--sun--65dc4" x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </svg>
  </button>
</div>

                </div>
                <p class="sidebar-author-module--description--05f75">{{metadata.sidebar.sub_title or metadata.description}}</p>
              </div>
              <nav class="sidebar-menu-module--sidebar-menu--a1f76">
                <ul class="sidebar-menu-module--list--11f39">
                  {% for i in metadata.sidebar.list %}<li class="sidebar-menu-module--item--67667">
                    <a aria-current="page" class="sidebar-menu-module--link--b41cc" href="{{i.url}}">{{i.nav}}</a>
                  </li>{% endfor %}
                </ul>
              </nav>
              <div class="sidebar-contacts-module--sidebar-contacts--bbb62">
                <ul class="sidebar-contacts-module--list--cbda4">
                  {% for s in metadata.sidebar.social %}
                  <li class="sidebar-contacts-module--item--1f6f2">
                    <a target="_blank" class="sidebar-contacts-module--link--8ba2a" title="{{s.title}}" href="{{s.url}}" rel="noopener noreferrer">
                    <i class="{{s.icon}}"></i>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="sidebar-copyright-module--sidebar-copyright--97d08">
                Copyright © <span id="tahun"></span>{{metadata.sidebar.footer.text}}<br/>Built with <a href="https://11ty.dev">11ty</a> {{metadata.sidebar.footer.text1}} <a href="{{metadata.sidebar.footer.text2_url}}">{{metadata.sidebar.footer.text2}}</a>
                </div>
            </div>
          </div>