---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* WHO */

  Adam DJ Brett
  site: adamdjbrett.com

/* TEAM */
Adam DJ Brett
site: adamdjbrett.com

Ported to 11ty by: creativas.dev
Site: https://creativas.dev

/* THANKS */

Original Theme Designer: Alexander Shelepenok
Original Theme: Lumen
GitHub: https://github.com/alxshelepenok/lumen

/* SITE */
Last update: {{ page.date }}
Language: English
Standards: HTML5, CSS3, JavaScript
Components: Eleventy (11ty)
Software: VS Code
